<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=LAPTOP-MCH57F0B\SQLEXPRESS;Initial Catalog=BookLibrary;Integrated Security=True;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="ParentTableName" value="ClientGroups"/>
    <add key="ChildTableName" value="Clients"/>
    <add key="ChildNumberOfColumns" value="15"/>
    <add key="ChildLabelNames" value="ClientCode,FirstName,SecondName,CNP,CI_Serie,CI,Adress,City,District,Phone,Email,RegistrationDate,CGId,Active,Mentions"/>
    <add key="ChildTextBoxContent" value="2000,Todoran,Corina,2970613060024,571432,XB,Bistrtia,a,a,0752610817,sdada@fa.com,02.02.2018,1,0,dadas"/>
    <add key="ColumnNamesInsertParameters" value="@code,@fname,@sname,@cnp,@ci_serie,@ci,@adress,@city,@distinct,@phone,@email,@registration,@cgid,@active,@mention"/>
    <add key="UpdateQuery" value="update Clients set ClientCode=@code,FirstName=@fname,SecondName=@sname,CNP=@cnp,CI_Serie=@ci_serie,CI=@ci,Adress=@adress,City=@city,District=@distinct,Phone=@phone,Email=@email,RegistrationDate=@registration,CGId=@cgid,Active=@active,Mentions=@mention where CId=@id"/>
    <add key="SelectQuery" value="select * from Clients"/>
    <add key="SelectParent" value="select * from ClientGroups"/>
    <add key="SelectChild" value="select * from Clients where CGId=@id"/>
    <add key="DeleteChild" value="delete from Clients where CId=@id"/>
  </appSettings>
  <!--
  <appSettings>
    <add key="ParentTableName" value="BookCollections"/>
    <add key="ChildTableName" value="Books"/>
    <add key="ChildNumberOfColumns" value="14"/>
    <add key="ChildLabelNames" value="BookCode,ISBN,Title,Author,Volume,AppearanceYear,AppearancePlace,Mentions,RegistrationDate,PId,GId,BCId,LId,DId"/>
    <add key="ChildTextBoxContent" value="2000,123,SGBD,TUTU,2,2018,Bistrtia,a,02.02.2018,1,1,1,1,1"/>
    <add key="ColumnNamesInsertParameters" value="@code,@isbn,@title,@author,@volume,@year,@place,@mentions,@registration,@pid,@gid,@bcid,@lid,@did"/>
    <add key="UpdateQuery" value="update Books set BookCode=@code,ISBN=@isbn,Title=@title,Author=@author,Volume=@volume,AppearanceYear=@year,AppearancePlace=@place,Mentions=@mentions,RegistrationDate=@registration,PId=@pid,GId=@gid,BCId=@bcid,LId=@lid,DId=@did where BId=@id"/>
    <add key="SelectQuery" value="select * from Books"/>
    <add key="SelectParent" value="select * from BookCollections"/>
    <add key="SelectChild" value="select * from Books where BCId=@id"/>
    <add key="DeleteChild" value="delete from Books where BId=@id"/>
  </appSettings>
  -->
</configuration>