USE [Book Library]
GO
/****** Object:  StoredProcedure [dbo].[down_to_version_2]    Script Date: 1/17/2018 6:30:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[down_to_version_2]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	-- remove a default constraint
	ALTER TABLE Clients
	DROP CONSTRAINT city_Cluj
	print('down_to_version_2 - remove the default value Cluj for each new entry City column')
END
