USE [Book Library]
GO
/****** Object:  StoredProcedure [dbo].[up_to_version_2]    Script Date: 1/17/2018 6:31:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[up_to_version_2]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	-- add a column
	ALTER TABLE ClientGroups
	ADD Number int
	print('up_to_version_2 - add to ClientGroups table column Number representing the Number of persons in each group')
END
