.emag-navbar {
    width:100%;
    height: 84px;
    background-color: #0d60b5;
    /* top:0; */
  }
  
  .under-navbar {
    width:100%;
    height: 40px;
    background: white;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.03);
  }
  
  .main {
    /* margin-top: 10px; */
    height: 450px;
    width: 83%;
    background-color: white;
  
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
  
  .main-content {
    display: flex;
  }
  
  .main-content div {
    /* border: 1px solid black; */
  }
  
  .footer {
    margin-top: 470px;
    height: 70px;
    width: 83%;
    background-color: white;
  
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
  
  .footer-container {
    display: flex;
    width:100%;
    height: 70px;
  }
  
  .footer-container div {
    /* border:1px solid black; */
  }
  
  /* NAVBAR WITH FLEX */
  
  .margin-top {
    margin-top: 3px;
  }
  
  .under-navbar-content {
    display: flex;
    width: 83%;
    
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
  
  .under-navbar-content div{
    /* border: 1px solid black; */
  }
  
  .emag-container {
    display: flex;
    width: 83%;
    
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
  
  .emag-container div {
    /* border: 1px solid black; */
  }
  
  /* FLEXBOX ITEMS */
  
  /* NAVBAR */
  
  .emag-image {
    flex: 1;
    margin: 5px;
    margin-top: 7px;
  }
  
  .emag-search {
    flex: 4;
    margin: 5px;
    margin-left:15px;
    padding-top: 2px;
  }
  
  .emag-contul-meu {
    flex: 1;
    margin: 5px;
    margin-left: 25px;
  }
  
  .emag-favorite {
    flex: 1;
    margin: 5px;
  }
  
  .emag-cos-cumparaturi {
    flex: 1;
    margin: 5px;
  }
  
  /* UNDER NAVBAR */
  
  .produse {
    flex: 2;
    height: 40px;
    background-color: #2ea8ed;
  }
  
  .flex-2 {
    flex: 2;
  }
  
  .flex-1 {
    flex: 1;
  }
  
  .small-text-under-navbar {
    height: 40px;
  }
  
  .main-image {
    overflow:hidden;
  }
  
  .main-menu {
    margin-left:5px;
    height: 100%;
    font-size: 14px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
  }
  
  /* OTHER */
  
  .menu-text-element {
    color: white;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 15px;
  }
  
  .navigation-table {
    position: absolute;
    margin-top: 5px;
    margin-left:7px;
  }
  
  .navigation-table:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .navbar-inner {
    width:100%;
  
    border-collapse: separate;
    will-change: margin;
    display: table;
    padding-top:24px;
    padding-bottom:24px;
  }
  
  .navbar-branding {
    display: table-cell;
    width: auto;
    vertical-align: middle;
  }
  
  .navbar-searchbox {
    padding-left: 10px;
    padding-right: 40px;
    display: table-cell;
    width:631px;
    height:36px;
    float:left;
  }
  
  .searchbox-wrapper {
    width: 80%;
    height: 36px;
    /* background-color: white; */
    border-radius: 3px;
  }
  
  body {
    margin: 0;
    background-color: #e9ebee;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #222;
  }
  
  .input-field {
    width:89%;
    height: 36px;
    border-radius: 2px;
    color: black;
    font-size: 16px;
    font-family: "ProximaNova-Light";
    border: 1px solid gray;
    padding-left: 15px;
    position: relative;
  }
  
  .input-field::before { 
    content: "";
    position:absolute;
    margin-top:-6px;
    margin-left:-5px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #146f79;
    transform:rotate(-45deg);
    right: -15px; 
    top: 10px;
  }
  
  .submit-button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 90.2%;
    background: white;
    border-right: none;
    font-size: 16px;
  }
  
  form.example button {
    float: right;
    width: 6%;
    padding: 10px;
    background: white;
    color: white;
    font-size: 16px;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: whitesmoke;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .footer-table {
    width: 100%;
    height: 70px;
  }
  
  tr.spaceUnder>td {
    padding-top: 6px;
    padding-bottom: 7px;
  }
  
  td:hover {
    cursor:pointer;
    /* border-bottom:1px solid rgba(0, 0, 0, 0.1);;
    border-top:1px solid rgba(0, 0, 0, 0.1);; */
    color: #0d60b5;
  }